@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

button:focus {
  outline: none; }

.color-gray {
  color: #979797; }

.color-base {
  color: #161616; }

.btn-baseDark {
  background: #081F2C 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  color: #FFFFFF;
  min-width: 150px;
  padding: 13px;
  border-radius: 0;
  font: normal normal normal 16px/19px "Roboto";
  display: block;
  transition: all 0.4s; }
  .btn-baseDark:hover {
    background-color: #FFFFFF;
    color: #081F2C; }

.btn-bordered-gray {
  min-width: 154px;
  height: 44px;
  border: 1px solid #979797;
  font: normal normal normal 18px/22px "Roboto";
  letter-spacing: 0;
  color: #979797;
  background-color: transparent; }

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #F6F6F6;
  border: 1px solid #081F2C; }

.container-checkbox:hover input ~ .checkmark {
  background-color: #F6F6F6; }

.container-checkbox input:checked ~ .checkmark {
  background-color: #F6F6F6; }

.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.container-checkbox input:checked ~ .checkmark:after {
  display: block; }

.container-checkbox .checkmark:after {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid #081F2C;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

header {
  min-height: 90px;
  background-color: #fff;
  box-shadow: 0 3px 20px #00000029; }

.left-menu {
  background-color: #081F2C;
  width: 416px;
  color: #FFFFFF;
  padding: 30px 50px;
  min-height: calc(100vh - 90px); }
  .left-menu h2 {
    font: normal normal bold 32px/38px Roboto;
    color: #FFFFFF;
    padding-left: 20px; }
  .left-menu a {
    color: #FFFFFF; }
  .left-menu .nav-link {
    margin-bottom: 8px; }
  .left-menu .nav-pills .nav-link.active,
  .left-menu .nav-pills .show > .nav-link {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
    margin-bottom: 8px; }

.dashboard-content {
  background-color: #D1D1D1;
  padding: 30px 100px;
  flex: 1; }
  .dashboard-content h2 {
    font: normal normal bold 32px/38px "Roboto";
    color: #161616; }
  .dashboard-content .table .thead-dark {
    background-color: #081F2C; }
    .dashboard-content .table .thead-dark .row {
      height: 56px; }
      .dashboard-content .table .thead-dark .row .col {
        font: normal normal medium 16px/21px "Roboto";
        color: #FFFFFF; }
  .dashboard-content .table .col {
    padding: 5px 30px;
    text-align: center; }
  .dashboard-content .table .tbody .row {
    background-color: white;
    box-shadow: 0 0 6px #00000029; }
    .dashboard-content .table .tbody .row .col {
      font: normal normal normal 16px/19px "Roboto";
      color: #161616; }
  .dashboard-content .table .container-checkbox {
    margin-bottom: 24px; }
    .dashboard-content .table .container-checkbox input:checked ~ .checkmark {
      background-color: transparent; }

.log-reg-page {
  background-color: #081F2C;
  min-height: calc(100vh - 90px); }
  .log-reg-page .form-wrapper {
    background-color: #F6F6F6;
    max-width: 930px;
    width: 100%;
    min-height: 590px; }
    .log-reg-page .form-wrapper .title {
      font: normal normal bold 40px/40px "Roboto";
      letter-spacing: 2px;
      color: #081F2C;
      text-align: center; }
    .log-reg-page .form-wrapper form {
      max-width: 370px;
      margin: 0 auto; }
      .log-reg-page .form-wrapper form label {
        color: #444444;
        font: normal normal medium 14px/19px "Roboto"; }
      .log-reg-page .form-wrapper form .form-control {
        border: 0;
        background-color: #FFFFFF; }
        .log-reg-page .form-wrapper form .form-control::placeholder {
          font: normal normal medium 16px/21px "Roboto";
          color: #D1D1D1; }
      .log-reg-page .form-wrapper form a {
        font: normal normal normal 14px/17px "Roboto";
        color: #081F2C; }

/*# sourceMappingURL=main.css.map */
